  <div style = "background-color: #FFF;">
    <div class='row p-2'>
      <div class='col-8'>
        <h3>Followings<br><%= @user.name %></h3>
      </div>
      <div class='col-md-3'>
        <%=link_to"Follower",user_followers_path, class:"btn btn-sm btn-success" %>
      </div>
    </div><br>

    <div class = "pl-2 pr-2">
      <!--ユーザー検索-->
      <%= render 'public/users/sarch_users', q: @q, path: user_followings_path %>

      <!--ユーザー一覧-->
      <%= render 'public/users/users_table', users: @users %>
    </div>
  </div>
