<h1>Welcome to Create photo arts!</h1>

<%= link_to 'ログイン',new_user_session_path, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %><br>

<%= link_to '新規登録',new_user_registration_path, class: "btn btn-success btn-sm btn-block sign_up" %><br><br>

<%= link_to 'ゲストログイン', public_guest_sign_in_path, method: :post, class: "btn btn-info btn-sm btn-block mb-3 sign_in" %>