@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*ページネーションのデザイン*/
.pagination>li>a {
  border: none;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>a {
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}