@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

/*ページネーションのデザイン*/
.pagination>li>a {
  border: none;
}

/* 表示しているページ番号のデザイン */
.pagination>.active>.page-link {
  background-color: #b0c4de;
  border-radius: 15px;
}

/*ホバー時のデザイン*/
.pagination>li>a:hover {
  border-radius: 15px;
}

.user  {
  color: #295BA7;
}

.count  {
  color: #000;
}

.btn-gest  {
  background-color: #b032EB;
  color: #fff;
}

.btn-gest:hover  {
  background-color: #9933CC;
  color: #fff;
}

.btn-edit  {
  background-color: #94AC3C;
  color: #fff;
}

.btn-edit:hover  {
  background-color: #b0c4de;
  color: #fff;
}

.btn-favorite {
  background-color: #94AC3C;
  color: #fff;
}

.btn-favorite:hover {
  background-color: #b0c4de;
  color: #fff;
}

.btn-sarch  {
  background-color: #295BA7;
  color: #fff;
}

.btn-sarch:hover  {
  background-color: #211572;
  color: #fff;
}

.btn-comment_delete  {
  background-color: #b0c4de;
  color: #fff;
}

.btn-comment_delete:hover  {
  background-color: #BAD3FF;
  color: #fff;
}
